{% extends "frontOffice/layoutFrontOffice.html.twig" %}
{% block title %}ChallengeSym - Login{% endblock %}
{% block container %}
		<div class="login-main">
				<div class="login-title">
					<h1>Connexion</h1>
				</div>
				<div class="login-errors">
					{% if error %}
						<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
				</div>
				<div class="login-form">
					<form action="{{ path('security_login') }}" method="post">
						<div class="form-field">
							<input placeholder="Adresse email" required name="_username" type="text" class="white-text form-control">
						</div>
						<div class="form-field">
							<input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
						</div>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<div class="form-field">
							<button type="submit" class="login-cta">Sign In !</button>
						</div>
					</form>
				</div>
		</div>
{% endblock %}
