{% extends "base.html.twig" %}
{% block title %}ChallengeSym{% endblock %}
{% block body %}
    <header>
        {# menu front office #}
        {% embed "embed/_fo_menu.html.twig" %}{% endembed %}
    </header>

    {# contenu du layout #}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    {% embed "embed/_footer.html.twig" %}{% endembed %}
{% endblock %}