<nav class="nav-fo">
    <div class="logo-attr">
        <h3>ChallengeSym</h3>
    </div>
    <ul class="nav-links-fo">
        <li><a href="{{ path('fo_home') }}" class="active">Home</a></li>
        <li><a href="{{ path('security_login') }}">Connexion</a></li>
        <li><a href="{{ path('security_signup') }}">Inscripton</a></li>
    </ul>
</nav>