.form-cat-box{
    display: flex;
    justify-content: center;
    button{
        margin-left: 2rem;
    }
}

.categorie-box{
    display: flex;
    padding: 10px;
}

.categorie-content{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    .item-cat{
        padding: 5px;
    }
}

.cat-item:hover{
    transition: background-color 0.4s;
    background-color: #2c2a28;
    transition: color 0.4s;
    color: #f2f2f2;
}