.modify-status {
    font-size: 24px;
    .buttons {
        margin: 5px;
        &.arrow-up {
            color: green;
        }
        &.arrow-down {
            color: red;
        }
        &:hover {
            color: honeydew;
        }
    }
    a {
        text-decoration: none;
    }
}

.valide-btn{
    font-size: 24px;
    margin: 5px;
    color: green;
    &:hover {
        color: honeydew;
    }
    a {
        text-decoration: none;
    }
}