{% extends "backOffice/layoutBackOffice.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block container %}
    <h1>dashboard</h1>
    <p> ici Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum hic expedita optio iure unde deserunt illo similique itaque eius earum porro dignissimos ullam numquam minus, aliquid corrupti temporibus saepe! Voluptate.
    Ipsum eos necessitatibus cupiditate asperiores cum, quidem at? Repellat eum aperiam quis, ad recusandae excepturi unde laboriosam libero deserunt quasi doloribus, quibusdam accusantium. Cupiditate unde voluptatem magnam enim modi eum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum hic expedita optio iure unde deserunt illo similique itaque eius earum porro dignissimos ullam numquam minus, aliquid corrupti temporibus saepe! Voluptate.
    Ipsum eos necessitatibus cupiditate asperiores cum, quidem at? Repellat eum aperiam quis, ad recusandae excepturi unde laboriosam libero deserunt quasi doloribus, quibusdam accusantium. Cupiditate unde voluptatem magnam enim modi eum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum hic expedita optio iure unde deserunt illo similique itaque eius earum porro dignissimos ullam numquam minus, aliquid corrupti temporibus saepe! Voluptate.
    Ipsum eos necessitatibus cupiditate asperiores cum, quidem at? Repellat eum aperiam quis, ad recusandae excepturi unde laboriosam libero deserunt quasi doloribus, quibusdam accusantium. Cupiditate unde voluptatem magnam enim modi eum.</p>
    
{% endblock %}

