{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <header>
        {# menu Back office #}
        {% embed "embed/_bo_menu.html.twig" %}{% endembed %}
    </header>

    {# contenu du layout #}
    <main>
        <div class="container">
            {% block container %}{% endblock %}
        </div>
    </main>
{% endblock %}